.header {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}



/* .nav-brand {
    color: rgba(0,0,0,0.8); 
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    transition: color 0.3s ease; 
}


.nav-brand:hover {
    color: rgba(0,0,0,0.8);
}

.nav-item {
    padding: 10px 25px;
}

.nav-link{
    color: rgba(0,0,0,0.8);
} */

/* Ensure the navbar spans the full width */
.navbar-custom {
    width: 100%;
}

/* Align the Navbar.Brand to the left */
.nav-brand {
    flex-grow: 1;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 25px;

}

/* Custom style for the navbar links */
.custom-navbar-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    list-style: none;
    padding-left: 0;
    /* Remove default padding */
    margin-bottom: 0;
    /* Remove default margin */
}

/* .custom-navbar-links .nav-item {
    padding: 0 15px;
   
} */

.nav-link {
    color: #000;
    /* Default link color */
    text-decoration: none;
    /* Remove underline */
}




.profile-link::after {
    display: none !important;  /* Hides the dropdown arrow */
}

.profile-link {
    color: rgb(25, 136, 204);  /* Icon color */
    font-size: 22px;  /* Icon size */
    display: flex;
    align-items: center;
}

.profile-link:hover {
    color: rgb(25, 136, 204);  /* Icon color */
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

/* Optional: Style for the dropdown menu */
.dropdown-menu {
    min-width: 150px;
}